<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Matching</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class = "container">
        <h2>Schema Matching</h2>
        <div id="button-container">
            <button id="upload" onclick="openUploadPage()">Upload Files</button>
            <button id="continue">Continue</button>    
        </div>
    </div>
    
    <script>
        function openUploadPage() {
            // Invia una richiesta GET al backend Python per ottenere l'URL della pagina di caricamento
            fetch('/get_upload_url')
                .then(response => response.json())
                .then(data => {
                    // Apri la nuova pagina utilizzando l'URL restituito dal backend
                    window.open(data.upload_url, '_self');
                });
        }
    </script>
</body>
</html>
