<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Matching</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="https://static.thenounproject.com/png/225935-200.png" alt="Left Image">
            <button id="upload" onclick="openUploadPage()">UPLOAD FILES</button>
        </div>
        <div class="right-side">
            <img id="right_img" src="https://cdn-icons-png.flaticon.com/512/2741/2741422.png" alt="Right Image">
            <button id="continue" onclick="openMatchingPage()">CONTINUE</button>
        </div>
        <div class="center">
            <div class="center-content">
                <h2>Schema Matching</h2>
            </div>
        </div>
    </div>
    
    <script>
        function openUploadPage() {
            // Invia una richiesta GET al backend Python per ottenere l'URL della pagina di caricamento
            fetch('/get_upload_url')
                .then(response => response.json())
                .then(data => {
                    // Apri la nuova pagina utilizzando l'URL restituito dal backend
                    window.open(data.upload_url, '_self');
                });
        }

        function openMatchingPage() {
            // Invia una richiesta GET al backend Python per ottenere l'URL della pagina di caricamento
            fetch('/get_matching_url')
                .then(response => response.json())
                .then(data => {
                    // Apri la nuova pagina utilizzando l'URL restituito dal backend
                    window.open(data.matching_url, '_self');
                });
        }
    </script>

</body>
</html>
